.home-service-image {
  position: relative;
}
.home-service-image::after {
  content: "";
  width: 120px;
  height: 120px;
  border: 2px dashed var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: -50px;
  bottom: -50px;
  animation: infiniteScroll 25s ease-in-out infinite alternate;
}

@keyframes infiniteScroll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-service {
  width: 100%;
}

.home-service ul {
  padding: 0;
  margin: 0;
}
.home-service ul li{
    padding: 22px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .3;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.home-service ul li:hover{
    opacity: 1;
}

.home-service ul li a{
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 2%; 
    font-family: var(--paragragraph-font);
    font-weight: 300;
    color: #fff;
}

.home-service ul li svg{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    transform: translateX(-20px);
    visibility: hidden;   
    transition: 0.5s ease-in-out;
}

.home-service ul li:hover svg{
    visibility: visible;
    transform: unset;
}


.home-service ul li::after{
    content: '';
    position: absolute;
    left: 0;
    height: .5px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
}

.home-service ul li:last-child::after {
    display: none;
}


@media (max-width: 768px) {
  .home-service-image::after {
    width: 80px;
    height: 80px;
    left: -30px;
    bottom: -30px;
  }
}