.testimonial-list{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.testimonial-card {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 20px;
  min-height: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 3px 5px #afafaf;
}

.testimonial-card .review svg {
  color: var(--second-color);
  font-size: 72px;
  opacity: 0.5;
}

.testimonial-card .review p {
  font-family: var(--cursive-font);
  font-size: 28px;
  color: #444;
}

.testimonial-card .writer-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.testimonial-card .writer-detail .testimonial-contact-detail{
    margin-left: 10px;
}

.testimonial-card .writer-detail .testimonial-contact-detail h5{
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
}

.testimonial-card .writer-detail .testimonial-contact-detail p{
    font-size: .9rem;
    color: #808080;
}

