.about-contact h5 {
  font-size: 1.4rem;
  font-weight: 500;
}
.about-contact h5 svg {
  color: var(--primary-color);
}

.about-contact p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--font-color);
}

/* ================== Journey ==================== */
.journey-card {
  cursor: pointer;
}
.journey-card:hover img {
  filter: grayscale(0);
}

.journey-card img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.journey-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.journey-content {
  padding: 50px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.journey-content h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--font-color);
  margin: 10px 0;
}

.journey-content p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--font-color);
}

.journey-icon {
  display: flex;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  color: var(--primary-color);
  border-radius: 3px;
  font-size: 1.2rem;
}

.journey-icon svg {
  margin-right: 10px;
}

.left-section .journey-content {
  transform: translateX(20%);
  z-index: 1000;
}

.right-section .journey-content {
  transform: translateX(-20%);
}

/* =========================== Mission Vission ====================== */

.mission-vission-card {
  padding: 40px;
  margin-top: 30px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-attachment: fixed;
}

.mission-vission-card.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mission-vision-details {
  padding: 40px;
  max-width: 500px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
}

.mission-vision-details h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.mission-vision-details p {
  font-size: 1rem;
  font-weight: 300;
  color: #000;
}
