.contact-us-card {
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: 0 0 3px #808080;
}

.contact-us-left {
  padding: 40px;
}

.contact-us-left h5 {
  font-size: 1.3rem;
}

.contact-detail {
  margin-bottom: 50px;
}

.contact-detail .icon {
  border-radius: 50px;
  background: #fdf4e8;
  border: unset;
  width: 50px;
  height: 50px;
}

.contact-detail .icon svg {
  width: 25px;
  height: 25px;
  color: var(--primary-color);
}

.social-media h5 {
  font-weight: 700;
  font-size: 24px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.social-media ul {
  display: flex;
  align-items: center;
  list-style: none !important;
}

.social-media svg{
  color: var(--font-color);
}

.contact-us-right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fdf4e8;
  padding: 40px;
  height: 100%;
}

.contact-us-right input,
.contact-us-right .seclect-form {
  border-radius: 10px;
  height: 50px;
}

.contact-us-right textarea:hover,
.contact-us-right input:hover {
  border-color: #000 !important;
}

.contact-us-right .seclect-form .ant-select-selector {
  border-radius: 10px;
}

.contact-us-right .seclect-form .ant-select-selector:hover {
  border-color: #000 !important;
}
